[submodule "programming_principles_practices"]
	path = programming_principles_practices
	url = git@github.com:KRudeBurns/programming_principles_practices.git
[submodule "front_end_things"]
	path = front_end_things
	url = git@github.com:KRudeBurns/front_end_things.git
[submodule "data-structures-and-algorithms"]
	path = data-structures-and-algorithms
	url = git@github.com:KRudeBurns/data-structures-and-algorithms.git
[submodule "euler1_5"]
	path = euler1_5
	url = git@github.com:KRudeBurns/euler1_5.git
